In [121]:
!pip install openpyxl
!pip install mlxtend
!pip install xlsxwriter

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: openpyxl in c:\users\ken\appdata\roaming\python\python311\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in c:\users\ken\appdata\roaming\python\python311\site-packages (from openpyxl) (1.1.0)

[notice] A new release of pip is available: 23.1.2 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mlxtend in c:\users\ken\appdata\roaming\python\python311\site-packages (0.23.0)
Requirement already satisfied: scipy>=1.2.1 in c:\users\ken\appdata\roaming\python\python311\site-packages (from mlxtend) (1.11.3)
Requirement already satisfied: numpy>=1.16.2 in c:\users\ken\appdata\roaming\python\python311\site-packages (from mlxtend) (1.26.0)
Requirement already satisfied: pandas>=0.24.2 in c:\users\ken\appdata\roaming\python\python311\site-packages (from mlxtend) (2.1.1)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\ken\appdata\roaming\python\python311\site-packages (from mlxtend) (1.3.1)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\ken\appdata\roaming\python\python311\site-packages (from mlxtend) (3.8.0)
Requirement already satisfied: joblib>=0.13.2 in c:\users\ken\appdata\roaming\python\python311\site-packages (from mlxtend) (1.3.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\ken\appdata\roaming\python\python311\site-packages (from matplotlib>=3.0.0->mlxtend) (1.1.1)
Requirement already satisfied: cycler>=0.10 in c:\users\ken\appdata\roaming\python\python311\site-packages (from matplotlib>=3.0.0->mlxtend) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\ken\appdata\roaming\python\python311\site-packages (from matplotlib>=3.0.0->mlxtend) (4.43.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\ken\appdata\roaming\python\python311\site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.5)
Requirement already satisfied: packaging>=20.0 in c:\users\ken\appdata\roaming\python\python311\site-packages (from matplotlib>=3.0.0->mlxtend) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\ken\appdata\roaming\python\python311\site-packages (from matplotlib>=3.0.0->mlxtend) (10.0.1)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\ken\appdata\roaming\python\python311\site-packages (from matplotlib>=3.0.0->mlxtend) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\ken\appdata\roaming\python\python311\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\ken\appdata\roaming\python\python311\site-packages (from pandas>=0.24.2->mlxtend) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\ken\appdata\roaming\python\python311\site-packages (from pandas>=0.24.2->mlxtend) (2023.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\ken\appdata\roaming\python\python311\site-packages (from scikit-learn>=1.0.2->mlxtend) (3.2.0)
Requirement already satisfied: six>=1.5 in c:\users\ken\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)

[notice] A new release of pip is available: 23.1.2 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Defaulting to user installation because normal site-packages is not writeable
Collecting xlsxwriter
  Downloading XlsxWriter-3.1.9-py3-none-any.whl (154 kB)
                                              0.0/154.8 kB ? eta -:--:--
     -------                                 30.7/154.8 kB 1.4 MB/s eta 0:00:01
     ---------------------------            112.6/154.8 kB 1.3 MB/s eta 0:00:01
     -------------------------------------- 154.8/154.8 kB 1.2 MB/s eta 0:00:00
Installing collected packages: xlsxwriter
Successfully installed xlsxwriter-3.1.9

[notice] A new release of pip is available: 23.1.2 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [198]:
import pandas as pd
from mlxtend.frequent_patterns import association_rules, apriori
import time

In [3]:
df = pd.read_excel('交易資料集.xlsx')
df.head()

,INVOICE_NO,CUST_ID,ITEM_ID,ITEM_NO,PRODUCT_TYPE,TRX_DATE,QUANTITY
0,CX47348203,3218,3217532,M25P40-VMN6TPB,MEMORY_EMBEDED,2016-07-26,2500
1,CX47346522,2470,3326781,AU80610006237AASLBX9,CPU / MPU,2016-07-11,50
2,CX47348534,16135,740487,MMBD2837LT1G,DISCRETE,2016-07-27,3000
3,A20160700174,999999999,3434776,IHLP1616ABER2R2M11,PEMCO,2016-07-29,0
4,CX47346184,2356,70072,MMBT3906LT1G,DISCRETE,2016-07-06,12000

In [5]:
df.shape

(157396, 7)

In [6]:
# remove rows where QUANTITY is less or equal to zero
df = df[df.QUANTITY > 0]

In [7]:
df

,INVOICE_NO,CUST_ID,ITEM_ID,ITEM_NO,PRODUCT_TYPE,TRX_DATE,QUANTITY
0,CX47348203,3218,3217532,M25P40-VMN6TPB,MEMORY_EMBEDED,2016-07-26,2500
1,CX47346522,2470,3326781,AU80610006237AASLBX9,CPU / MPU,2016-07-11,50
2,CX47348534,16135,740487,MMBD2837LT1G,DISCRETE,2016-07-27,3000
4,CX47346184,2356,70072,MMBT3906LT1G,DISCRETE,2016-07-06,12000
6,CX47347899,10228,3420352,TMP103AYFFR,LINEAR IC,2016-07-25,3000
...,...,...,...,...,...,...,...
157389,216071271,2100,14691206,"74HCT365D,653",LOGIC IC,2016-07-06,7030
157390,216075314,2197,3249493,"74HC04D,653",LOGIC IC,2016-07-21,347
157391,216072287,2579,133619,"74LVC2G17GW,125",LOGIC IC,2016-07-11,1644
157392,216077517,43262,15231095,MT41K256M16TW-107:P TRAY,MEMORY_EMBEDED,2016-07-28,300000
157395,216070810,47302,14852949,MT41K64M16TW-107:J,MEMORY_EMBEDED,2016-07-05,2000

In [8]:
# INVOICE_NO: sum of transaction
# ITEM_ID: sum of type of items
df.nunique()

INVOICE_NO      36498
CUST_ID          4273
ITEM_ID         23710
ITEM_NO         23710
PRODUCT_TYPE       10
TRX_DATE           36
QUANTITY         6479
dtype: int64

In [9]:
df2 = df[["INVOICE_NO", "ITEM_ID"]]
df2

        INVOICE_NO   ITEM_ID
0       CX47348203   3217532
1       CX47346522   3326781
2       CX47348534    740487
4       CX47346184     70072
6       CX47347899   3420352
...            ...       ...
157389   216071271  14691206
157390   216075314   3249493
157391   216072287    133619
157392   216077517  15231095
157395   216070810  14852949

[128837 rows x 2 columns]

In [10]:
# set of items of transactions containing tid
h_data = {}
items = []
#set of indices of transactions containing item
v_data = {}
for i in df.index:
    if df['ITEM_ID'][i] not in items:
        items.append(df['ITEM_ID'][i])
    if str(df['INVOICE_NO'][i]) in h_data:
        h_data[str(df['INVOICE_NO'][i])].append(str(df['ITEM_ID'][i]))
    else:
        h_data[str(df['INVOICE_NO'][i])] = [str(df['ITEM_ID'][i])]
        
    if str(df['ITEM_ID'][i]) in v_data:
        v_data[str(df['ITEM_ID'][i])].append(str(df['INVOICE_NO'][i]))
    else:
        v_data[str(df['ITEM_ID'][i])] = [str(df['INVOICE_NO'][i])]

In [14]:
class UtilityList:
    def __init__(self, item, UL):
        self.item = item
        self.UL = UL
        pass

In [15]:
def Construct(P_UL, Px_UL, Py_UL):
    Pxy_UL = []
    Ex_index = 0
    Ey_index = 0
    while Ex_index < len(Px_UL) and Ey_index < len(Py_UL):
        if Px_UL[Ex_index] == Py_UL[Ey_index]:
            Exy = []
            if P_UL is not None:
                for E in range(len(P_UL)):
                    if P_UL[E] == Px_UL[Ex_index]:
                        Exy = [Px_UL[Ex_index]]
            else:
                Exy = [Px_UL[Ex_index]]
            Pxy_UL.append(Exy)
            Ex_index += 1
            Ey_index += 1
        else:
            if Px_UL[Ex_index] > Py_UL[Ey_index]:
                Ey_index += 1
            else:
                Ex_index += 1
    return Pxy_UL

In [16]:
# brute force
def Construct2(P_UL, Px_UL, Py_UL):
    Pxy_UL = []
    for i in Px_UL:
        for j in Py_UL:
            if i == j:
                Pxy_UL.append(i)
    return Pxy_UL

In [182]:
def HUI_Miner(P, ULs, minutil):
    global frequent_itemsets
    for X in ULs:
        if len(X.UL) >= minutil:
            frequent_itemsets.append([len(X.UL)/len(h_data.keys()), [X.item[0]]])
#             print(X.item, len(X.UL)/len(h_data.keys()))
            exULs = []
            for Y in ULs[ULs.index(X)+1:]:   
                X.item + [Y.item[-1]]
                exULs.append(UtilityList(X.item + [Y.item[-1]], Construct2(P.UL, X.UL, Y.UL)))
            HUI_Miner(X, exULs, minutil)

In [23]:
nn = []
for k, v in v_data.items():
    nn.append(UtilityList([k], list(set(v_data[k]))))

In [183]:
# frequent itemset by item merge pproach
frequent_itemsets = []
HUI_Miner(UtilityList('', None), ULs=nn, minutil=len(h_data.keys())*0.001)

In [184]:
# frequent itemset count
len(frequent_itemsets)

281

In [185]:
frequent_itemsets

[[0.003178256342813305, ['70072']],
 [0.0011507479861910242, ['70072']],
 [0.0012055455093429777, ['3420352']],
 [0.0011507479861910242, ['135739']],
 [0.0029864650117814675, ['149674']],
 [0.003370047673845142, ['70057']],
 [0.0020549071181982575, ['3223014']],
 [0.0060003287851389114, ['70415']],
 [0.0017809195024384899, ['15471068']],
 [0.0027124773960217, ['14819946']],
 [0.0013151405556468849, ['14790349']],
 [0.001643925694558606, ['14671860']],
 [0.0010959504630390707, ['14671860']],
 [0.0010685517014630938, ['14671860']],
 [0.0012603430324949311, ['15181053']],
 [0.0010411529398871172, ['15201033']],
 [0.0018905145487423968, ['15192100']],
 [0.0011507479861910242, ['15192100']],
 [0.0011233492246150473, ['15192100']],
 [0.0010411529398871172, ['15192100']],
 [0.0010411529398871172, ['15452141']],
 [0.0018357170255904433, ['15455982']],
 [0.0011507479861910242, ['14921004']],
 [0.0015069318866787222, ['14481833']],
 [0.0011233492246150473, ['14481833']],
 [0.0010685517014630938, ['15352015']],
 [0.0020549071181982575, ['15157064']],
 [0.001287741794070908, ['15151088']],
 [0.0015891281714066525, ['14980086']],
 [0.001397336840374815, ['14310766']],
 [0.0020823058797742344, ['15242560']],
 [0.001178146747767001, ['15103999']],
 [0.0010411529398871172, ['15455981']],
 [0.0010685517014630938, ['15104957']],
 [0.001287741794070908, ['15078912']],
 [0.0010959504630390707, ['15046030']],
 [0.0015891281714066525, ['4231589']],
 [0.0016165269329826292, ['126995']],
 [0.0011233492246150473, ['8929650']],
 [0.0014521343635267687, ['15194056']],
 [0.0015343306482546988, ['15037958']],
 [0.0011507479861910242, ['15047904']],
 [0.0014521343635267687, ['14675955']],
 [0.0011233492246150473, ['15539983']],
 [0.0010411529398871172, ['6642591']],
 [0.0015891281714066525, ['3374580']],
 [0.002685078634445723, ['15051992']],
 [0.0014521343635267687, ['15240983']],
 [0.0011507479861910242, ['15331043']],
 [0.00364403528960491, ['4709595']],
 [0.0010137541783111403, ['4709595']],
 [0.003150857581237328, ['26001']],
 [0.005205764699435586, ['70449']],
 [0.0012603430324949311, ['70449']],
 [0.0012329442709189545, ['70449']],
 [0.0016165269329826292, ['70449']],
 [0.0047399857526439805, ['23004']],
 [0.0013425393172228615, ['23004']],
 [0.0016987232177105595, ['23004']],
 [0.0010411529398871172, ['23004']],
 [0.001178146747767001, ['23004']],
 [0.0010685517014630938, ['23004']],
 [0.001397336840374815, ['1747']],
 [0.00457559318318812, ['70448']],
 [0.0012055455093429777, ['70448']],
 [0.0013699380787988383, ['70448']],
 [0.0027398761575976767, ['88870']],
 [0.0011507479861910242, ['3246369']],
 [0.0022740972108060715, ['3336149']],
 [0.0012329442709189545, ['3336149']],
 [0.0010411529398871172, ['3336149']],
 [0.0011507479861910242, ['3336149']],
 [0.0015617294098306757, ['135384']],
 [0.0010137541783111403, ['135251']],
 [0.0024110910186859553, ['133402']],
 [0.0015891281714066525, ['126597']],
 [0.002822072442325607, ['1697']],
 [0.0015617294098306757, ['1697']],
 [0.0012329442709189545, ['1697']],
 [0.0010685517014630938, ['1697']],
 [0.0013151405556468849, ['1697']],
 [0.0010411529398871172, ['70298']],
 [0.004822182037371911, ['1708']],
 [0.0016987232177105595, ['1708']],
 [0.0010411529398871172, ['1708']],
 [0.0010685517014630938, ['1708']],
 [0.0010137541783111403, ['1708']],
 [0.0014247356019507918, ['1708']],
 [0.002602882349717793, ['15058972']],
 [0.00186311578716642, ['15288972']],
 [0.0010411529398871172, ['133563']],
 [0.0021645021645021645, ['1755']],
 [0.0012055455093429777, ['1755']],
 [0.0081374321880651, ['70509']],
 [0.0012329442709189545, ['70509']],
 [0.0010959504630390707, ['70509']],
 [0.0010411529398871172, ['70509']],
 [0.0020549071181982575, ['70509']],
 [0.0013151405556468849, ['70509']],
 [0.001178146747767001, ['70509']],
 [0.0010411529398871172, ['70509']],
 [0.0020823058797742344, ['70509']],
 [0.0010959504630390707, ['70509']],
 [0.0010411529398871172, ['70509']],
 [0.0015891281714066525, ['70509']],
 [0.0012329442709189545, ['70509']],
 [0.0016713244561345827, ['135493']],
 [0.0012603430324949311, ['135493']],
 [0.0010411529398871172, ['135493']],
 [0.0010411529398871172, ['87141']],
 [0.0010685517014630938, ['150002']],
 [0.0011233492246150473, ['3114083']],
 [0.0013151405556468849, ['2797101']],
 [0.002822072442325607, ['70447']],
 [0.0014247356019507918, ['70447']],
 [0.0010959504630390707, ['134130']],
 [0.0012329442709189545, ['1724']],
 [0.0011507479861910242, ['133405']],
 [0.0012603430324949311, ['135492']],
 [0.0010685517014630938, ['135492']],
 [0.0010137541783111403, ['125765']],
 [0.0021371034029261876, ['1696']],
 [0.007890843333881308, ['15280990']],
 [0.0015343306482546988, ['15280990']],
 [0.0013151405556468849, ['3328645']],
 [0.0010411529398871172, ['135507']],
 [0.003534440243301003, ['1698']],
 [0.0014795331251027453, ['1698']],
 [0.0010411529398871172, ['1698']],
 [0.0010137541783111403, ['3298637']],
 [0.0020275083566222807, ['126542']],
 [0.0012055455093429777, ['126109']],
 [0.003260452627541235, ['1707']],
 [0.0023836922571099785, ['1746']],
 [0.0010411529398871172, ['1301771']],
 [0.005644144884651214, ['15288975']],
 [0.0014247356019507918, ['183067']],
 [0.001287741794070908, ['14883083']],
 [0.0021645021645021645, ['135789']],
 [0.001178146747767001, ['135789']],
 [0.0017261219792865361, ['49046']],
 [0.0014795331251027453, ['3201502']],
 [0.00457559318318812, ['88411']],
 [0.0010959504630390707, ['88411']],
 [0.0012055455093429777, ['88411']],
 [0.0011507479861910242, ['88411']],
 [0.0011507479861910242, ['70274']],
 [0.001397336840374815, ['88475']],
 [0.0015069318866787222, ['135505']],
 [0.003616636528028933, ['87945']],
 [0.0014795331251027453, ['135495']],
 [0.001178146747767001, ['134857']],
 [0.0013699380787988383, ['70068']],
 [0.0013699380787988383, ['148744']],
 [0.0020275083566222807, ['1756']],
 [0.002931667488629514, ['1754']],
 [0.0012603430324949311, ['3250538']],
 [0.001397336840374815, ['3326167']],
 [0.0015069318866787222, ['88061']],
 [0.0021371034029261876, ['88443']],
 [0.0011233492246150473, ['149991']],
 [0.0014795331251027453, ['111064']],
 [0.0015343306482546988, ['70511']],
 [0.002602882349717793, ['1699']],
 [0.0010685517014630938, ['88284']],
 [0.0010959504630390707, ['14870535']],
 [0.0010959504630390707, ['14870535']],
 [0.0019179133103183737, ['15406993']],
 [0.002438489780261932, ['15306063']],
 [0.001643925694558606, ['15307088']],
 [0.0016165269329826292, ['15220033']],
 [0.0015343306482546988, ['15283965']],
 [0.0010411529398871172, ['15404968']],
 [0.0015617294098306757, ['70324']],
 [0.0015617294098306757, ['14752201']],
 [0.0015617294098306757, ['14752201']],
 [0.0010411529398871172, ['14816056']],
 [0.003534440243301003, ['70589']],
 [0.001643925694558606, ['3216651']],
 [0.004301605567428353, ['15286972']],
 [0.005150967176283632, ['15189014']],
 [0.0012055455093429777, ['135520']],
 [0.0010137541783111403, ['2205849']],
 [0.0018357170255904433, ['15461984']],
 [0.0010685517014630938, ['70066']],
 [0.0018905145487423968, ['87118']],
 [0.0020275083566222807, ['125741']],
 [0.003315250150693189, ['15288976']],
 [0.0027672749191736535, ['70450']],
 [0.0013699380787988383, ['14962884']],
 [0.0011233492246150473, ['15221037']],
 [0.0011507479861910242, ['3249478']],
 [0.0018083182640144665, ['70126']],
 [0.0015343306482546988, ['15352010']],
 [0.003534440243301003, ['15419008']],
 [0.0012329442709189545, ['3372437']],
 [0.0010959504630390707, ['138455']],
 [0.0012603430324949311, ['3417453']],
 [0.0015069318866787222, ['88676']],
 [0.0013699380787988383, ['149890']],
 [0.002493287303413886, ['70128']],
 [0.003397446435421119, ['88444']],
 [0.0013425393172228615, ['148735']],
 [0.0011507479861910242, ['70333']],
 [0.0012329442709189545, ['1713']],
 [0.0010411529398871172, ['135501']],
 [0.001753520740862513, ['87120']],
 [0.0011233492246150473, ['149987']],
 [0.0012603430324949311, ['87496']],
 [0.0018905145487423968, ['88623']],
 [0.0012603430324949311, ['88623']],
 [0.0013425393172228615, ['126383']],
 [0.001178146747767001, ['126282']],
 [0.0010959504630390707, ['70127']],
 [0.0013425393172228615, ['126993']],
 [0.0012329442709189545, ['135344']],
 [0.0010959504630390707, ['3249501']],
 [0.0010411529398871172, ['88477']],
 [0.0010137541783111403, ['8713587']],
 [0.0010137541783111403, ['88518']],
 [0.0012329442709189545, ['3216486']],
 [0.0013151405556468849, ['14846430']],
 [0.0013425393172228615, ['133024']],
 [0.0012055455093429777, ['135506']],
 [0.0010411529398871172, ['15031996']],
 [0.0015069318866787222, ['3204325']],
 [0.001643925694558606, ['14762160']],
 [0.0014247356019507918, ['70349']],
 [0.0010137541783111403, ['3333283']],
 [0.0010411529398871172, ['3307913']],
 [0.0013151405556468849, ['3328643']],
 [0.0010411529398871172, ['133449']],
 [0.0022466984492300946, ['88445']],
 [0.0012329442709189545, ['3249375']],
 [0.0015069318866787222, ['15189015']],
 [0.0010137541783111403, ['149722']],
 [0.0012055455093429777, ['77029']],
 [0.0011233492246150473, ['88675']],
 [0.0011507479861910242, ['3326430']],
 [0.0013699380787988383, ['70334']],
 [0.0012055455093429777, ['1748']],
 [0.0012603430324949311, ['2165800']],
 [0.002685078634445723, ['14782210']],
 [0.0010137541783111403, ['88563']],
 [0.0011507479861910242, ['14932035']],
 [0.0013425393172228615, ['3365271']],
 [0.0012603430324949311, ['15278976']],
 [0.002465888541837909, ['15336088']],
 [0.002602882349717793, ['14929876']],
 [0.0010959504630390707, ['14929876']],
 [0.0031234588196613513, ['14782215']],
 [0.0014247356019507918, ['14782215']],
 [0.005315359745739492, ['14790248']],
 [0.002822072442325607, ['15336004']],
 [0.0016987232177105595, ['15461985']],
 [0.0016165269329826292, ['15355971']],
 [0.003041262534933421, ['14845991']],
 [0.0010685517014630938, ['15225133']],
 [0.002465888541837909, ['15549964']],
 [0.0013151405556468849, ['14436753']],
 [0.0012329442709189545, ['149778']],
 [0.0012603430324949311, ['14766878']],
 [0.0020275083566222807, ['14988891']],
 [0.0011507479861910242, ['15367960']],
 [0.0012055455093429777, ['3250360']],
 [0.001397336840374815, ['88622']],
 [0.0015343306482546988, ['143456']],
 [0.001287741794070908, ['14988996']],
 [0.0015343306482546988, ['15220039']],
 [0.0017809195024384899, ['14760944']],
 [0.0011233492246150473, ['14876857']],
 [0.001287741794070908, ['3298569']],
 [0.001178146747767001, ['2208002']],
 [0.0010959504630390707, ['12686591']],
 [0.0010411529398871172, ['135494']],
 [0.0010137541783111403, ['12560591']],
 [0.0010411529398871172, ['2663032']],
 [0.0010959504630390707, ['3387711']],
 [0.001178146747767001, ['3365652']],
 [0.0012329442709189545, ['14767916']],
 [0.001287741794070908, ['15230124']]]

In [187]:
from mlxtend.preprocessing import TransactionEncoder
te = TransactionEncoder()
te_ary = te.fit(list(h_data.values())).transform(list(h_data.values()))
df2 = pd.DataFrame(te_ary, columns=te.columns_)
frequent_itemsets = apriori(df2, min_support=0.001, use_colnames=True)

rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.7)

In [188]:
frequent_itemsets

      support                 itemsets
0    0.001480                 (111064)
1    0.001014               (12560591)
2    0.002028                 (125741)
3    0.001014                 (125765)
4    0.001206                 (126109)
..        ...                      ...
276  0.001233     (70509, 88411, 1697)
277  0.001041     (70509, 1698, 23004)
278  0.001315     (70509, 88411, 1698)
279  0.001041     (70509, 88444, 1708)
280  0.001041  (70509, 3336149, 88411)

[281 rows x 2 columns]

In [148]:
print(rules)

         antecedents consequents  antecedent support  consequent support  \
0           (135492)     (70509)            0.001260            0.008137
1           (135492)     (88411)            0.001260            0.004576
2           (135493)     (70509)            0.001671            0.008137
3           (135493)     (88411)            0.001671            0.004576
4         (14481833)  (15157064)            0.001507            0.002055
5         (14675955)  (15192100)            0.001452            0.001891
6         (14760944)  (14752201)            0.001781            0.001562
7         (14752201)  (14760944)            0.001562            0.001781
8         (14876857)  (14870535)            0.001123            0.001096
9         (14870535)  (14876857)            0.001096            0.001123
10        (14980086)  (15192100)            0.001589            0.001891
11        (15194056)  (15192100)            0.001452            0.001891
12           (88676)     (88411)            0.001507            0.004576
13           (88622)     (88623)            0.001397            0.001891
14   (70509, 135493)     (88411)            0.001233            0.004576
15   (135493, 88411)     (70509)            0.001260            0.008137
16     (70509, 1697)     (88411)            0.001562            0.004576
17     (88411, 1697)     (70509)            0.001315            0.008137
18     (1698, 23004)     (70509)            0.001178            0.008137
19     (88411, 1698)     (70509)            0.001480            0.008137
20     (88444, 1708)     (70509)            0.001425            0.008137
21  (70509, 3336149)     (88411)            0.001233            0.004576
22  (3336149, 88411)     (70509)            0.001151            0.008137

     support  confidence        lift  leverage  conviction  zhangs_metric
0   0.001041    0.826087  101.516908  0.001031    5.703210       0.991399
1   0.001069    0.847826  185.293153  0.001063    6.541360       0.995858
2   0.001233    0.737705   90.655738  0.001219    3.781476       0.990625
3   0.001260    0.754098  164.808874  0.001253    4.048059       0.995596
4   0.001123    0.745455  362.768000  0.001120    3.920499       0.998748
5   0.001041    0.716981  379.251846  0.001038    3.526654       0.998814
6   0.001562    0.876923  561.507692  0.001559    8.112311       1.000000
7   0.001562    1.000000  561.507692  0.001559         inf       0.999780
8   0.001096    0.975610  890.195122  0.001095   40.955066       1.000000
9   0.001096    1.000000  890.195122  0.001095         inf       0.999973
10  0.001151    0.724138  383.037481  0.001148    3.618147       0.998977
11  0.001123    0.773585  409.192781  0.001121    4.408317       0.999007
12  0.001206    0.800000  174.840719  0.001199    4.977122       0.995781
13  0.001260    0.901961  477.098039  0.001258   10.180717       0.999300
14  0.001096    0.888889  194.267465  0.001090    8.958820       0.996081
15  0.001096    0.869565  106.859903  0.001086    7.604280       0.991892
16  0.001233    0.789474  172.540183  0.001226    4.728266       0.995759
17  0.001233    0.937500  115.208333  0.001222   15.869801       0.992626
18  0.001041    0.883721  108.599483  0.001032    8.530018       0.991961
19  0.001315    0.888889  109.234568  0.001303    8.926763       0.992314
20  0.001041    0.730769   89.803419  0.001030    3.684061       0.990275
21  0.001041    0.844444  184.554092  0.001036    6.399157       0.995809
22  0.001041    0.904762  111.185185  0.001032   10.414557       0.992148

In [149]:
rules['antecedents']

0             (135492)
1             (135492)
2             (135493)
3             (135493)
4           (14481833)
5           (14675955)
6           (14760944)
7           (14752201)
8           (14876857)
9           (14870535)
10          (14980086)
11          (15194056)
12             (88676)
13             (88622)
14     (70509, 135493)
15     (135493, 88411)
16       (70509, 1697)
17       (88411, 1697)
18       (1698, 23004)
19       (88411, 1698)
20       (88444, 1708)
21    (70509, 3336149)
22    (3336149, 88411)
Name: antecedents, dtype: object

In [150]:
rules["consequents"]

0        (70509)
1        (88411)
2        (70509)
3        (88411)
4     (15157064)
5     (15192100)
6     (14752201)
7     (14760944)
8     (14870535)
9     (14876857)
10    (15192100)
11    (15192100)
12       (88411)
13       (88623)
14       (88411)
15       (70509)
16       (88411)
17       (70509)
18       (70509)
19       (70509)
20       (70509)
21       (88411)
22       (70509)
Name: consequents, dtype: object

In [151]:
rules["antecedents"] = rules["antecedents"].apply(lambda x: ', '.join(list(x))).astype("unicode")
rules["consequents"] = rules["consequents"].apply(lambda x: ', '.join(list(x))).astype("unicode")

In [160]:
# write file
import xlsxwriter
workbook = xlsxwriter.Workbook('rule.xlsx')
worksheet = workbook.add_worksheet()
worksheet.write(0, 0, "antecedents")
worksheet.write(0, 1, "consequents")
row = 1
for i, j in zip(rules['antecedents'], rules['consequents']):
    worksheet.write(row, 0, i)
    worksheet.write(row, 1, j)
    row+=1
    
workbook.close()

In [161]:
# read file
df_rule = pd.read_excel('rule.xlsx')
df_rule.head()

  antecedents  consequents
0      135492        70509
1      135492        88411
2      135493        70509
3      135493        88411
4    14481833     15157064

In [186]:
# input product to find the right hand side itemsets
def find_consequents(antecedents, df):
    li = []
    for k, v in zip(df_rule["antecedents"], df_rule["consequents"]):
        if antecedents in k:
            li.append(v)
    return list(set(li))
    

find_consequents("3336149, 88411", df_rule)

[70509]

In [199]:
# support count versis rules base on confidence=0.7, 
min_support = [0.001, 0.0011, 0.0012, 0.0013, 0.0014]
rules_count = []
elapsed_time = []
for i in min_support:
    start_time = time.time()
    te = TransactionEncoder()
    te_ary = te.fit(list(h_data.values())).transform(list(h_data.values()))
    df2 = pd.DataFrame(te_ary, columns=te.columns_)
    frequent_itemsets = apriori(df2, min_support=i, use_colnames=True)
    rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.7)
    elapsed_time.append(time.time()-start_time)
    rules_count.append(len(list(rules['antecedents'])))

In [200]:
rules_count

[23, 12, 9, 3, 2]

In [201]:
# elapsed time (second)
elapsed_time

[11.58024001121521,
 7.789711236953735,
 5.9582319259643555,
 4.186016082763672,
 3.178170680999756]

In [206]:
# confidence versis rules base on support=0.001, 
confidence = [0.5, 0.55, 0.6, 0.65, 0.7]
rules_count = []
elapsed_time = []
workbook = xlsxwriter.Workbook('rule2.xlsx')
worksheet = workbook.add_worksheet()

for k in range(len(confidence)):
    start_time = time.time()
    te = TransactionEncoder()
    te_ary = te.fit(list(h_data.values())).transform(list(h_data.values()))
    df2 = pd.DataFrame(te_ary, columns=te.columns_)
    frequent_itemsets = apriori(df2, min_support=0.001, use_colnames=True)
    rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=confidence[k])
    elapsed_time.append(time.time()-start_time)
    rules_count.append(len(list(rules['antecedents'])))
    
    
    rules["antecedents"] = rules["antecedents"].apply(lambda x: ', '.join(list(x))).astype("unicode")
    rules["consequents"] = rules["consequents"].apply(lambda x: ', '.join(list(x))).astype("unicode")
    worksheet.write(0, k*2, "antecedents"+str(confidence[k]))
    worksheet.write(0, k*2+1, "consequents"+str(confidence[k]))
    row = 1
    for i, j in zip(rules['antecedents'], rules['consequents']):
        worksheet.write(row, k*2, i)
        worksheet.write(row, k*2+1, j)
        row+=1
    
workbook.close()

In [207]:
rules_count

[57, 48, 39, 31, 23]

In [208]:
elapsed_time

[11.331083059310913,
 11.383166313171387,
 11.297866106033325,
 11.399392127990723,
 11.322789669036865]

In [232]:
# confidence versis recommendation product
df_rule2 = pd.read_excel('rule2.xlsx')
df_rule2.head()

def find_consequents2(antecedents, df, confidence):
    li = []
    for i in confidence:
        li2 = []
        for k, v in zip(df["antecedents"+str(i)].dropna(), df["consequents"+str(i)].dropna()):
            if antecedents in k:
                li2.append(v)
        li.append(list(set(li2)))
    return li

confidence = [0.5, 0.55, 0.6, 0.65, 0.7]
product_count = find_consequents2("70509", df_rule2, confidence)
print(product_count)
print("Product count:", [len(x) for x in product_count])

[['135493', '3336149', '1698', '1697', '1708', '88444', '88411', '23004'], ['1698', '1708', '1697', '88444', '88411'], ['88444', '88411', '1708', '1698'], ['88411', '1708'], [88411.0]]
Product count: [8, 5, 4, 2, 1]

In [234]:
from mlxtend.frequent_patterns import fpgrowth

frequent_itemsets = fpgrowth(df2, min_support=0.001, use_colnames=True)
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.7)

In [235]:
# support count versis rules base on confidence=0.7 by fpgrowth
min_support = [0.001, 0.0011, 0.0012, 0.0013, 0.0014]
rules_count = []
elapsed_time = []
for i in min_support:
    start_time = time.time()
    te = TransactionEncoder()
    te_ary = te.fit(list(h_data.values())).transform(list(h_data.values()))
    df2 = pd.DataFrame(te_ary, columns=te.columns_)
    frequent_itemsets = fpgrowth(df2, min_support=i, use_colnames=True)
    rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.7)
    elapsed_time.append(time.time()-start_time)
    rules_count.append(len(list(rules['antecedents'])))

In [236]:
# fp growth
rules_count

[23, 12, 9, 3, 2]

In [237]:
elapsed_time

[1.1289830207824707,
 1.15592360496521,
 1.2658748626708984,
 1.1400258541107178,
 1.149949073791504]

In [238]:
# confidence versis rules base on support=0.001 by fpgrowth 
confidence = [0.5, 0.55, 0.6, 0.65, 0.7]
rules_count = []
elapsed_time = []
for i in confidence:
    start_time = time.time()
    te = TransactionEncoder()
    te_ary = te.fit(list(h_data.values())).transform(list(h_data.values()))
    df2 = pd.DataFrame(te_ary, columns=te.columns_)
    frequent_itemsets = fpgrowth(df2, min_support=0.001, use_colnames=True)
    rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=i)
    elapsed_time.append(time.time()-start_time)
    rules_count.append(len(list(rules['antecedents'])))

In [239]:
rules_count

[57, 48, 39, 31, 23]

In [240]:
elapsed_time

[1.1249439716339111,
 1.1680607795715332,
 1.1577787399291992,
 1.1121315956115723,
 1.1532478332519531]